#head-bar{
    text-align: center;
    color: white;
    background-color: #7c7c7c;
    padding: 5px;
    font-family: cursive;
    clear: both;
    margin-top: 10px;
}

#main-nav{
    background-color:lightblue;
}

#main-nav li{
    display: inline-block;
    position: relative;
}

#main-nav li:hover{       
    background-color:lightgreen;
    color: white;

}